@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Handlee&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
    --color-blueLogo: #402DAE;
    --color-purpleLogo: #BD63D1;
    --color-blueTextLogo: #7C6DD9;
    --color-purpleTextLogo: #CC88DC;
    --color-purple: #561DA6;
    --color-darkPurple: #210B40;
    --color-purpleHero: #592B9A;
    --color-darkPurpleAbout: #110621;
    --color-purpleAbout: #210B40;
    --color-blackFooter: #100521;
    --color-purpleFooter: #411487;
    --font-jakarta: "Plus Jakarta Sans", sans-serif; 
    --font-handlee: "Handlee", sans-serif;
    --font-belanosima: "Belanosima", sans-serif;
}

html, body {
  overflow-x: hidden; /* untuk paksa hilangkan scroll horizontal */
}

* {
    scroll-behavior: smooth;
}

img {
  -webkit-user-select: none;
  user-select: none;
}

/* Scrollbar utama */
::-webkit-scrollbar {
  width: 8px;
}

/* Track (jalur background) */
::-webkit-scrollbar-track {
  background: #1e1e2f; 
}

/* Handle (bagian yang digeser) */
::-webkit-scrollbar-thumb {
  background: #8A5CCC;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #5F4586;
}

/* Preloader */
#loader-wrapper {
  @apply visible;
  opacity: 1;
}

#loader-wrapper.hidden-wrapper {
  @apply pointer-events-none;
  opacity: 0;
}
@media (max-width: 768px){
  #loader-wrapper h1 {
    -webkit-text-stroke: 10px #592B9A;
  }
}
#loader-wrapper h1 {
  -webkit-text-stroke: 3px #592B9A;
}
.snowflake {
  --small: 3px;
  --medium: 7px;
  width: var(--small);
  height: var(--small);
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  animation: snow 6s linear infinite, wind 10s ease-in-out infinite;
  top: -2%;
  left: 10%;
}

.snowflake:nth-child(2n + 1) {
  /* 3, 5, 7, ... */
  width: var(--medium);
  height: var(--medium);
}

.snowflake:nth-child(1)  { left: 5%; animation-delay: 0s; }
.snowflake:nth-child(2)  { left: 10%; animation-delay: 1s; }
.snowflake:nth-child(3)  { left: 15%; animation-delay: 2s; }
.snowflake:nth-child(4)  { left: 20%; animation-delay: 0.5s; }
.snowflake:nth-child(5)  { left: 25%; animation-delay: 2.5s; }
.snowflake:nth-child(6)  { left: 30%; animation-delay: 1.5s; }
.snowflake:nth-child(7)  { left: 35%; animation-delay: 3s; }
.snowflake:nth-child(8)  { left: 40%; animation-delay: 2s; }
.snowflake:nth-child(9)  { left: 45%; animation-delay: 4s; }
.snowflake:nth-child(10) { left: 50%; animation-delay: 3.5s; }
.snowflake:nth-child(11) { left: 55%; animation-delay: 1s; }
.snowflake:nth-child(12) { left: 60%; animation-delay: 2s; }
.snowflake:nth-child(13) { left: 65%; animation-delay: 1.2s; }
.snowflake:nth-child(14) { left: 70%; animation-delay: 3.1s; }
.snowflake:nth-child(15) { left: 75%; animation-delay: 0.6s; }
.snowflake:nth-child(16) { left: 80%; animation-delay: 1.7s; }
.snowflake:nth-child(17) { left: 85%; animation-delay: 2.8s; }
.snowflake:nth-child(18) { left: 90%; animation-delay: 3.3s; }
.snowflake:nth-child(19) { left: 95%; animation-delay: 0.9s; }
.snowflake:nth-child(20) { left: 98%; animation-delay: 1.1s; }
.snowflake:nth-child(21) { left: 3%; animation-delay: 2.1s; }
.snowflake:nth-child(22) { left: 7%; animation-delay: 2.6s; }
.snowflake:nth-child(23) { left: 13%; animation-delay: 3.6s; }
.snowflake:nth-child(24) { left: 18%; animation-delay: 4.2s; }
.snowflake:nth-child(25) { left: 22%; animation-delay: 5s; }
.snowflake:nth-child(26) { left: 27%; animation-delay: 4.7s; }
.snowflake:nth-child(27) { left: 33%; animation-delay: 3.3s; }
.snowflake:nth-child(28) { left: 38%; animation-delay: 4.5s; }
.snowflake:nth-child(29) { left: 43%; animation-delay: 5.5s; }
.snowflake:nth-child(30) { left: 48%; animation-delay: 4.9s; }

@keyframes snow {
  100% {
    top: 100%;
  }
}

@keyframes wind {
  50% {
    transform: translateX(120px);
  }
}
/* Preloader */

/* Navbar CSS */
@keyframes atom-rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
  100% {
    transform: rotate(0deg);
  }
}

.atom-spin {
  animation: atom-rotate 8s ease-in-out infinite;
  -webkit-animation: atom-rotate 8s ease-in-out infinite;
}

.navbar-fixed {
    @apply fixed z-[99] bg-linear-90/oklch from-darkPurple/50 to-purple/50;
    backdrop-filter: blur(8px);
    box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.2);
}

.navbar-absolute {
    @apply bg-linear-90/oklch from-darkPurple/50 to-purple/50;
    backdrop-filter: blur(8px);
    box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.2);
    position: absolute;
    top: calc(var(--spacing) * 0);
    left: calc(var(--spacing) * 0);
}

.shadow-purple-glow {
    box-shadow: 0 0 250px 150px rgba(221, 115, 202, 0.9);
}
.shadow-purple-glow-mob {
    box-shadow: 0 0 150px 70px rgba(221, 115, 202, 0.9);
}

.shadow-glow-cloud {
    box-shadow: 0 0 150px 150px rgba(221, 115, 202, 0.9);
}
@media (max-width: 768px) {
  .shadow-glow-cloud {
    box-shadow: 0 0 90px 90px rgba(221, 115, 202, 0.7); /* contoh versi mobile */
  }
}
@media (max-width: 1024px) {
  .shadow-glow-cloud {
    box-shadow: 0 0 100px 100px rgba(221, 115, 202, 0.7); /* contoh versi mobile */
  }
}

.shadow-cloud {
    filter: drop-shadow(100px 1px 0 rgba(221, 115, 202));
    -webkit-filter: drop-shadow(100px 1px 0 rgba(221, 115, 202));
}

.inner-text {
  text-shadow:
   5px 1px 1px rgba(0, 0, 0, 0.3);
}

.custom-shadow {
    filter: drop-shadow(9px 8px 3px rgba(0, 0, 0, 0.50));
    -webkit-filter: drop-shadow(9px 8px 3px rgba(0, 0, 0, 0.50));
}

.text-logo-shadow {
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.50));
    -webkit-filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.50));
}

/* TRANSITION HAMBURGER ICON */
.nav-icon {
    position: relative;
    width: 42px;
    height: 25px;
    cursor: pointer;
}

.nav-icon span {
    position: absolute;
    width: 50%;
    height: 3px;
    background: white;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.nav-icon span:nth-child(odd) {
    /*1,3,5*/left: 0;
    border-radius: 9px 0 0 9px;
    -webkit-border-radius: 9px 0 0 9px;
    -moz-border-radius: 9px 0 0 9px;
    -ms-border-radius: 9px 0 0 9px;
    -o-border-radius: 9px 0 0 9px;
}

.nav-icon span:nth-child(even){
    /*2,4,6*/left: 50%;
    border-radius: 0 9px 9px 0;
    -webkit-border-radius: 0 9px 9px 0;
    -moz-border-radius: 0 9px 9px 0;
    -ms-border-radius: 0 9px 9px 0;
    -o-border-radius: 0 9px 9px 0;
}

.nav-icon span:nth-child(1),
.nav-icon span:nth-child(2) {
    top: 0;
}

.nav-icon span:nth-child(3),
.nav-icon span:nth-child(4) {
    /* top: 13px; */
    top: 10px;
}

.nav-icon span:nth-child(5),
.nav-icon span:nth-child(6) {
    /* top: 26px; */
    top: 20px;
}

.nav-open .nav-icon span:nth-child(1),
.nav-open .nav-icon span:nth-child(6) {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.nav-open .nav-icon span:nth-child(2),
.nav-open .nav-icon span:nth-child(5) {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.nav-open .nav-icon span:nth-child(1) {
    top: 8px;
    left: 5px;
}

.nav-open .nav-icon span:nth-child(2) {
    top: 8px;
    left: calc(50% - 5px);
}

.nav-open .nav-icon span:nth-child(3) {
    left: -100%;
    opacity: 0;
}

.nav-open .nav-icon span:nth-child(4) {
    left: 150%;
    opacity: 0;
}

.nav-open .nav-icon span:nth-child(5) {
    top: 19px;
    left: 5px;
}

.nav-open .nav-icon span:nth-child(6) {
    top: 19px;
    left: calc(50% - 5px);
}
/* Navbar CSS */

/* Button Get Started */
.button {
    --border_radius: 9999px;
    --transtion: 0.3s ease-in-out;
    --offset: 2px;
    border-radius: var(--border_radius);
    transform: scale(calc(1 + (var(--active, 0) * 0.1)));
    transition: transform var(--transtion);
    -webkit-border-radius: var(--border_radius);
    -moz-border-radius: var(--border_radius);
    -ms-border-radius: var(--border_radius);
    -o-border-radius: var(--border_radius);
}

.button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #9747FF;
    border-radius: var(--border_radius);
    box-shadow: inset 0 0.5px hsl(0, 0%, 100%), inset 0 -1px 2px 0 hsl(0, 0%, 0%),
      0px 4px 10px -4px hsla(0 0% 0% / calc(1 - var(--active, 0))),
      0 0 0 calc(var(--active, 0) * 0.375rem) hsla(0, 0%, 0%, 0.1);
    transition: all var(--transtion);
    z-index: 0;
  }
  
  .button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: hsla(260 97% 61% / 0.75);
    background-image: radial-gradient(
        at 51% 89%,
        hsla(266, 45%, 74%, 1) 0px,
        transparent 50%
      ),
      radial-gradient(at 100% 100%, hsla(266, 36%, 60%, 1) 0px, transparent 50%),
      radial-gradient(at 22% 91%, hsla(266, 36%, 60%, 1) 0px, transparent 50%);
    background-position: top;
    opacity: var(--active, 0);
    border-radius: var(--border_radius);
    transition: opacity var(--transtion);
    z-index: 2;
  }
  
  .button:is(:hover, :focus-visible) {
    --active: 1;
  }
  .button:active {
    transform: scale(1);
  }
  
  .button .dots_border {
    --size_border: calc(100% + 2px);
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--size_border);
    height: var(--size_border);
    background-color: transparent;
    border-radius: var(--border_radius);
    z-index: -10;
  }
  
  .button .dots_border::before {
    content: "";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: left;
    transform: rotate(0deg);
    width: 100%;
    height: 2rem;
    background-color: white;
    mask: linear-gradient(transparent 0%, white 120%);
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  
  .button .sparkle {
    position: relative;
    z-index: 10;
    width: 1.75rem;
  }
  
  .button .sparkle .path {
    fill: currentColor;
    stroke: currentColor;
    transform-origin: center;
    color: hsl(0, 0%, 100%);
  }
  
  .button:is(:hover, :focus) .sparkle .path {
    animation: path 1.5s linear 0.5s infinite;
  }
  
  .button .sparkle .path:nth-child(1) {
    --scale_path_1: 1.2;
  }
  .button .sparkle .path:nth-child(2) {
      --scale_path_2: 1.2;
  }
  .button .sparkle .path:nth-child(3) {
    --scale_path_3: 1.2;
  }
  
  @keyframes path {
    0%,
    34%,
    71%,
    100% {
      transform: scale(1);
    }
    17% {
      transform: scale(var(--scale_path_1, 1));
    }
    49% {
      transform: scale(var(--scale_path_2, 1));
    }
    83% {
      transform: scale(var(--scale_path_3, 1));
    }
  }
  
  .button .text_button {
    position: relative;
    z-index: 10;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1rem;
    font-weight: 600;
    color: transparent;
  }
/* Button Get Started */

/* LIVE SECTION */
/* .live-hero {
    width: 100%;
    height: 64px;
    background-color: #1c1e32;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes tickerMove {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.live-hero .live {
    animation: tickerMove 1.5s linear infinite;
    -webkit-animation: tickerMove 1.5s linear infinite;
} */
.live-track {
  width: calc(240px * 12); /* jika ada 12 item */
  animation: ticker 10s linear infinite;
}

@keyframes ticker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* LIVE SECTION */

/* About */
.glow-purple {
    filter: drop-shadow(0px 0px 25px rgba(138, 92, 204, 0.6));
    -webkit-filter: drop-shadow(0px 0px 25px rgba(138, 92, 204, 0.6));
}

.glow-desc-div {
    filter: drop-shadow(-15px -15px 20px rgba(95, 69, 134, 1));
    -webkit-filter: drop-shadow(-15px -15px 20px rgba(95, 69, 134, 1));
}


@keyframes atom-rotate-2 {
    0% {
        transform: rotate(0deg);
    }
    50% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.atom-spin-2 {
    animation: atom-rotate 10s ease-in-out infinite;
    -webkit-animation: atom-rotate 10s ease-in-out infinite;
}
/* About */

/* Card Industries */
.inner-purple-shadow {
    box-shadow: 0px 6px 6px rgba(151, 71, 255, 1) inset;
}
/* Card Industries */

/* SLIDER DOKUMENTASI*/
.slider {
  height: 230px;
  margin: auto;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  /* width: calc((320px + 30px) * 18); */
  width: calc((((352px * 3) + (208px * 3) + (278px * 3)) * 2) + (30px * 17) );
  /* width: max-content; */
  animation: scroll 40s linear infinite;
  gap: 30px;
}

.slide-track:hover {
  animation-play-state: paused;
  transition: all 0.8s;
}

.slide-track-2 {
    display: flex;
    /* width: calc((320px + 30px) * 18); */
    width: calc((((352px * 3) + (208px * 3) + (278px * 3)) * 2) + (30px * 17) );
    /* width: max-content; */
    animation: scroll-2 40s linear infinite;
    gap: 30px;
  }

@media (min-width: 768px) {
  .slider {
    height: 310px;
    margin: auto;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  .slide-track {
    display: flex;
    /* width: calc((320px + 30px) * 18); */
    width: calc((((462px * 3) + (278px * 3) + (348px * 3)) * 2) + (30px * 17) );
    /* width: max-content; */
    animation: scroll 40s linear infinite;
    gap: 30px;
  }
  .slide-track-2 {
    display: flex;
    /* width: calc((320px + 30px) * 18); */
    width: calc((((462px * 3) + (278px * 3) + (348px * 3)) * 2) + (30px * 17) );
    /* width: max-content; */
    animation: scroll-2 40s linear infinite;
    gap: 30px;
  }
}

.slide-track-2:hover {
  animation-play-state: paused;
  transition: all 0.8s;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  } 
  100% {
    /* transform: translateX(calc(-1 * (320px + 30px) * 9)); jika ukuran foto sama semua*/
    transform: translateX(calc(-1 * (((462px * 3) + (278px * 3) + (348px * 3)) + (30px * 8) )));
    /* transform: translateX(-50%); */
  }
}

@keyframes scroll-2 {
  0% {
    transform: translateX(calc(-1 * (((462px * 3) + (278px * 3) + (348px * 3)) + (30px * 8) )));
    /* transform: translateX(-50%); */
  } 
  100% {
    transform: translateX(0);
  }
}

.slide {
  /* height: 270px; */
  /* width: 320px; */
  display: flex;
  align-items: center;
  /* padding: 15px; */
  perspective: 100px;

  justify-content: center;
  background-color: #e5e5e5;
  border-radius: 40px;
  box-shadow: 0px 0px 10px 1px rgba(151, 71, 255, 1);
}

.slide.wide {
  width: 462px;
}
.slide.medium {
  width: 348px;
}
.slide.small {
  width: 278px;
}

.slide img {
  width: 100%;
  transition: transform 1%;
  transition: all 0.8s;

  height: 100%;
  object-fit: cover;
  border-radius: 40px;
  box-shadow: 0px 0px 10px 1px rgba(151, 71, 255, 1);
}

.slide:hover img {
  transform: translateZ(10px);
  transition: all 0.8s;
}

.overlay {
  @apply font-handlee;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8); /* semi-transparan */
  color: white;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.4s ease;
  border-radius: 40px;
  pointer-events: none; /* biar klik tetap ke gambar */
  z-index: 99;
  transition: transform 1%;
  transition: all 0.8s;
}

.slide:hover .overlay {
  opacity: 1;
  transform: translateZ(10px);
  transition: all 0.8s;
}
/* SLIDER DOKUMENTASI */

/* FAQ Section */
.faq-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.faq-section .container-accordion {
  /* position: relative;
  z-index: 2; */
}

.container-accordion {
  /* margin: 0;
  margin-bottom: 5em;
  width: 600px; */
}
/* .container-accordion li {
  list-style: none;
  width: auto;
  margin: 10px 0;
  padding: 10px;
  border-radius: 16px;
  background: #d2b2ff;
} */

.container-accordion li label i {
  position: relative;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 3px solid white;
  border-radius: 50%;
  background: #9747FF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 0.3s ease, color 0.3s ease;
}

.container-accordion input[type="checkbox"]:checked + label i {
  transform: rotate(180deg);
}

input[type="checkbox"] {
  display: none;
}
.container-accordion .content {
  color: #ffffff;
  padding: 0 5px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: scale(0.95);
  transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out,
    opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.container-accordion input[type="checkbox"]:checked + label + .content {
  max-height: 500px;
  padding-top: 20px;
  opacity: 1;
  transform: scale(1);
}

@media (max-width: 768px){
    /*==================== FAQ SECTION ====================*/
  .faq-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }
    .faq-section {
    height: 830px;
    padding: 0 0.5em;
  }

  .faq-section .text-h2 {
    font-size: 11vw;
    letter-spacing: normal;
  }

  .faq-section .text-p {
    font-size: 1rem;
    max-width: 90%;
  }
  .faq-section .button-with-icon {
    margin-bottom: 3rem;
  }
  .faq-grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  /* .container-accordion {
    margin: -20px 0 0 0;
    width: 100%;
  } */

  .container-accordion li label i {
    font-size: 1.2rem;
    width: 25px;
    height: 25px;
  }
}
/* FAQ Section */

/* From Uiverse.io by ElSombrero2 */ 
.card {
  overflow: visible;
  /* width: 190px;
  height: 254px; */
  width: 100%; /* Agar ikut lebar kolom grid */
  min-height: 160px; /* atau 180px */
  position: relative;
}

.content-card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px rgba(151, 71, 255, 1);
  border-radius: 24px;
}

@media (max-width: 640px) {
  .card {
    overflow: visible;
    /* width: 190px;
    height: 254px; */
    width: 100%; /* Agar ikut lebar kolom grid */
    min-height: 135px; /* atau 180px */
    position: relative;
  }
}

.back {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 24px;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back::before {
  position: absolute;
  content: ' ';
  display: block;
  /* width: 160px; */
  height: 80%;
  width: 630px;
  /* min-height: 160px; */
  background: linear-gradient(90deg, transparent, #E62F2A, #E62F2A, #E62F2A, #E62F2A, transparent);
  animation: rotation_481 5000ms infinite linear;
}
.back-2 {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 24px;
  overflow: hidden;
}

.back-2 {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back-2::before {
  position: absolute;
  content: ' ';
  display: block;
  /* width: 160px; */
  height: 80%;
  width: 630px;
  /* min-height: 160px; */
  background: linear-gradient(90deg, transparent, #4BBEE7, #4BBEE7, #4BBEE7, #4BBEE7, transparent);
  animation: rotation_481 5000ms infinite linear;
}

.back-content {
  position: absolute;
  width: 97%;
  height: 94%;
  background-color: #ffffff;
  border-radius: 24px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card:hover .content-card {
  /* transform: rotateY(180deg); */
  transform: scale(1.07);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

/* POPUP DOKUMENTASI */

.popup, .popup-2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 95%;
    max-width: 1600px;
    height: 90vh;
    max-height: 800px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 1s;
    opacity: 0;
}

.popup.active, .popup-2.active-2 {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.popup.active .close-btn,
.popup-2.active-2 .close-btn-2,
.popup.active .image-name,
.popup-2.active-2 .image-name-2,
.popup.active .index,
.popup-2.active-2 .index-2,
.popup.active .large-image,
.popup-2.active-2 .large-image-2,
.popup.active .arrow-btn,
.popup-2.active-2 .arrow-btn-2 {
    opacity: 1;
    transition: opacity .5s;
    transition-delay: 1s;
}

.top-bar, .top-bar-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-weight: 300;
}

.image-name, .image-name-2 {
    opacity: 0;
}

.close-btn, .close-btn-2 {
    opacity: 0;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f00;
    cursor: pointer;
}

.arrow-btn, .arrow-btn-2 {
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 50%;
    border: none;
    background: none;
    cursor: pointer;
}

.left-arrow, .left-arrow-2 {
    left: 10px;
}

.right-arrow, .right-arrow-2 {
    right: 10px;
    transform: translateY(-50%) rotate(180deg);
}

.arrow-btn:hover, .arrow-btn-2:hover {
    background: rgba(0, 0, 0, 0.5);
}

.index, .index-2 {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 80px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.4);
    opacity: 0;
}

.large-image, .large-image-2 {
    /* margin-top: 5%; */
    width: 90%;
    height: 90%;
    object-fit: contain;
    opacity: 0;
}

@media only screen and (max-width: 640px) and (orientation: portrait) {
    .popup.active,
    .popup-2.active-2 {
        transform: translate(-50%, -50%) scale(1) rotate(90deg);
        width: 95vh;
        height: 95vw;
    }

    .large-image,
    .large-image-2 {
        width: 90%;
        height: 90%;
    }
}

/* POPUP DOKUMENTASI */